* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 16px "PT Sans", Arial, Helvetica, sans-serif;
}

:root {
  --background: #1c2237;
  --primary: #fff;
  --gray: #242424;
  --red: #f00346;
  --blue: #276afb;
  --green: #25cea4;
}

button {
  cursor: pointer;
}
